* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: rgb(65, 64, 64);
}

section {
    background-color: rgb(221, 222, 223);
    padding: 3.5rem;
    border-radius: 3rem;
    margin: 0 auto;
}

section label {
    width: 30%;
}

section input {
    padding: 0.8rem;
    width: 100%;
    margin: 0.4rem 0;
}

section select {
    padding: 0.8rem;
    width: 100%;
    margin: 0.4rem 0;
}

section textarea {
    padding: 0.8rem;
    margin: 0.4rem 0;
    width: 100%;
}

section button{
    display: block;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.4em;
}